<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO Pfsence</title>
</head>

<body>
    <div align="center">
        <img src="../images/fuera de servicio.jpg" alt="">
        <p>Por motivos de que el ISO <b><i>pfSense-CE-2.4.5-RELEASE-amd64</i></b> es demaciado pesado se decidio retirar de la página</p>
        <ul class="actions">
            <a href="../../index.html" class="button next scrolly">Regresar</a>
        </ul>
    </div>
</body>

</html>