<!DOCTYPE HTML>
<html>

<head>
	<title>pfSense</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../css/main.css" />
	<noscript>
		<link rel="stylesheet" href="../css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<!-- Note: The "styleN" class below should match that of the banner element. -->
		<header id="header" class="alt style2">
			<a href="../../index.html" class="logo"><strong>Download</strong> <span>Software</span></a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="../../index.html">Inicio</a></li>
				<li><a href="datospersonales.html">Protección de datos</a></li>
				<li><a href="propiedadindustrial.html">Propiedad industrial</a></li>
				<li><a href="derechosautor.html">Derechos de autor</a></li>
				<li><a href="codigopenal.html">Código penal federal</a></li>
				<li><a href="manejoinformacion.html">Manejo de la información</a></li>
				<li><a href="pfsense.html">Download Software pfSense</a></li>
				<li><a href="avisosprivacidad.html">Avisos de privacidad</a></li>
			</ul>
		</nav>

		<!-- Banner -->
		<!-- Note: The "styleN" class below should match that of the header element. -->
		<section id="banner" class="style2">
			<div class="inner">
				<span class="image">
					<img src="../images/pfsense.jpg" alt="" />
				</span>
				<header class="major">
					<h1>pfSense</h1>
				</header>
			</div>
		</section>

		<!-- Main -->
		<div id="main">
			<!-- one -->
			<section id="three">

				<div class="inner">
					<header class="major">
						<h2>pfSense-CE-2.4.5-RELEASE-amd64</h2>
					</header>
					<p>Es una distribución Open Source basada en FreeBSD para el uso de Firewall y Router. Ademas de ser
						una potente distribución, incluye una gran lista de paquetes que permiten expandir fácilmente
						las funcionalidades sin comprometer la seguridad del sistema. Emplea un cortafuegos SPI
						(Stateful Packet Inspection) basado en reglas.<br /></p>
					<p> Solamente dispone de un potente firewall para mitigar y/o bloquear los ataques DoS y DDoS, sino
						que también dispone de un avanzado IDS/IPS como Snort y Suricata.</p>
					<p>
						&nbsp;
					<div style="text-align: left;">

						<ul class="#" style="text-align: center;">
							<a href="isopfsence.html" class="button primary icon solid fa-download">DESCARGAR SOFTWARE PFSENSE</a>
						</ul>

						<!-- Codigo para descargar -->
						<!-- <ul class="#" style="text-align: center;">
							<a href="../resources/ISO/pfSense-CE-2.4.5-RELEASE-amd64.iso.gz" download="pfSense-CE-2.4.5-RELEASE-amd64.iso.gz" class="button primary icon solid fa-download">DESCARGAR SOFTWARE PFSENSE</a>
						</ul> -->
					</div>
					</p>
					<br />
					<div style="text-align: center;">
						<h4>Comprimido .iso.gz</h4>
						<i>Firma digital SHA-256:</i>
						<b>fda93684669ad0b2b9e314a53d5c7272076484a6b714d60d5e06f14e1c7ce049</b>
						<br />
						<br />
						<h4>Descomprimido .iso</h4>
						<i>Firma digital SHA-256:</i>
						<b>fb1d253f9c594a7e32418cf43e4b56cf17976ce4fdb6061fdae559b1bd15df11</b>
						<br />
						<br />
						<a href="../resources/ISO/firmadigital.txt" download="Firma digital SHA-256.txt">Descargar firma digital
							SHA-256</a>
					</div>
				</div>
			</section>
		</div>
		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="copyright" style="text-align: center">
					<li>&copy; FRB, 2021</li>
					<li><a href="avisosprivacidad.html">Avisos de privacidad</a></li>
				</ul>
				<br/>
				<ul class="icons" style="text-align: center">
					<li><a href="https://www.facebook.com/profile.php?id=100010636896011"
							class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="https://instagram.com/rmz_tino" class="icon brands alt fa-instagram"><span
								class="label">Instagram</span></a></li>
					<li><a href="https://github.com/Florentinorm" class="icon brands alt fa-github"><span
								class="label">GitHub</span></a></li>
				</ul>
			</div>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery.scrolly.min.js"></script>
	<script src="../js/jquery.scrollex.min.js"></script>
	<script src="../js/browser.min.js"></script>
	<script src="../js/breakpoints.min.js"></script>
	<script src="../js/util.js"></script>
	<script src="../js/main.js"></script>

</body>

</html>